# Node build artifacts
node_modules
npm-debug.log
/Lokesh/bin
/Lokesh/obj
/Lokesh/ClientApp/node_modules
/Lokesh.Infrastructure/bin
/Lokesh.Infrastructure/obj
/Lokesh.Repository/bin
/Lokesh.Repository/obj
/XUnitTestDAL/bin
/XUnitTestDAL/obj
.vs

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml
