<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row quick-actions_homepage">
    <ul class="quick-actions">
      <li class="bg_lb"> <a href="/Cash/Receipt"> <i class="fa fa-money fa-5x"></i> <span class="label label-important">20</span> Phiếu thu tiền mặt </a> </li>
      <li class="bg_ly"> <a href="/AccountPayable/Invoice"> <i class="fa fa-truck fa-5x"></i><span class="label label-success">101</span> Phiếu mua hàng </a> </li>
      <li class="bg_lo"> <a href="/AccountPayable/Invoice"> <i class="fa fa-shopping-cart fa-5x"></i> Bán hàng - Phải thu</a> </li>
      <li class="bg_ls"> <a href="/Inventory/Stock"> <i class="fa fa-fire fa-5x"></i> Hàng tồn kho</a> </li>
      <li class="bg_lo"> <a href="/Assets/InstrumentsTools"> <i class="fa fa-home fa-5x"></i> Tài sản - CCDC</a> </li>
      <li class="bg_ls"> <a href="/Work/Cost"> <i class="fa fa-tasks fa-5x"></i> Giá thành</a> </li>
      <li class="bg_lb"> <a href="/HR/Cost"> <i class="fa fa-pencil fa-5x"></i>Nhân sự</a> </li>
      <li class="bg_lg"> <a href="/Accounting/Final"> <i class="fa fa-table fa-5x"></i> Kế toán tổng hợp</a> </li>
      <li class="bg_lr "> <a href="/LaborEmploymentAndManagement/TimeSheet"> <i class="fa fa-credit-card fa-5x"></i> Chấm công tiền lương</a> </li>
      <li class="bg_ls span3"> <a href="/Report"> <i class="fa fa-bar-chart fa-5x"></i> Báo cáo</a> </li>
      <li class="bg_lg"> <a href="/Openning"> <i class="fa fa-edit fa-5x"></i> Đầu kỳ</a> </li>
      <li class="bg_lh span12"> <a href="/Systems"> <i class="fa fa-cogs fa-5x"></i> Hệ thống</a> </li>
    </ul>
  </div> 
</div>
