<div class="wrapper wrapper-content animated fadeInRight">
  <div class="quick-actions_homepage">
    <ul class="quick-actions">
      <li class="bg_lb"> <a href="/Cash/Receipt"> <i class="icon-money"></i> <span class="label label-important">20</span> Phiếu thu tiền mặt </a> </li>
      <li class="bg_ly"> <a href="/AccountPayable/Voucher"> <i class="icon-truck"></i><span class="label label-success">101</span> Phiếu mua hàng </a> </li>
      <li class="bg_lo"> <a href="tables.html"> <i class="icon-shopping-cart"></i> Bán hàng - Phải thu</a> </li>
      <li class="bg_ls"> <a href="grid.html"> <i class="icon-fire"></i> Hàng tồn kho</a> </li>
      <li class="bg_lo"> <a href="form-common.html"> <i class="icon-home"></i> Tài sản - CCDC</a> </li>
      <li class="bg_ls"> <a href="buttons.html"> <i class="icon-tasks"></i> Giá thành</a> </li>
      <li class="bg_lb"> <a href="interface.html"> <i class="icon-pencil"></i>Nhân sự</a> </li>
      <li class="bg_lg"> <a href="calendar.html"> <i class="icon-table"></i> Kế toán tổng hợp</a> </li>
      <li class="bg_lr "> <a href="error404.html"> <i class="icon-info-sign"></i> Chấm công tiền lương</a> </li>
      <li class="bg_ls"> <a href="charts.html"> <i class="icon-bar-chart"></i> Báo cáo</a> </li>
      <li class="bg_lg"> <a href="charts.html"> <i class="icon-edit"></i> Đầu kỳ</a> </li>
      <li class="bg_lh span9"> <a href="charts.html"> <i class="icon-cogs"></i> Hệ thống</a> </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-sm-12 mb-4">
      <div class="card-group">
        <div class="card col-lg-2 col-md-6 no-padding bg-flat-color-1">
          <div class="card-body">
            <div class="h1 text-muted text-right mb-4">
              <i class="fa fa-users text-light"></i>
            </div>

            <div class="h4 mb-0 text-light">
              <span class="count">87500</span>
            </div>
            <small class="text-uppercase font-weight-bold text-light">Visitors</small>
            <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
          </div>
        </div>
        <div class="card col-lg-2 col-md-6 no-padding no-shadow">
          <div class="card-body bg-flat-color-2">
            <div class="h1 text-muted text-right mb-4">
              <i class="fa fa-user-plus text-light"></i>
            </div>
            <div class="h4 mb-0 text-light">
              <span class="count">385</span>
            </div>
            <small class="text-uppercase font-weight-bold text-light">New Clients</small>
            <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
          </div>
        </div>
        <div class="card col-lg-2 col-md-6 no-padding no-shadow">
          <div class="card-body bg-flat-color-3">
            <div class="h1 text-right mb-4">
              <i class="fa fa-cart-plus text-light"></i>
            </div>
            <div class="h4 mb-0 text-light">
              <span class="count">1238</span>
            </div>
            <small class="text-light text-uppercase font-weight-bold">Products sold</small>
            <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
          </div>
        </div>
        <div class="card col-lg-2 col-md-6 no-padding no-shadow">
          <div class="card-body bg-flat-color-5">
            <div class="h1 text-right text-light mb-4">
              <i class="fa fa-pie-chart"></i>
            </div>
            <div class="h4 mb-0 text-light">
              <span class="count">28</span>%
            </div>
            <small class="text-uppercase font-weight-bold text-light">Returning Visitors</small>
            <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
          </div>
        </div>
        <div class="card col-lg-2 col-md-6 no-padding no-shadow">
          <div class="card-body bg-flat-color-4">
            <div class="h1 text-light text-right mb-4">
              <i class="fa fa-clock-o"></i>
            </div>
            <div class="h4 mb-0 text-light">5:34:11</div>
            <small class="text-light text-uppercase font-weight-bold">Avg. Time</small>
            <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
          </div>
        </div>
        <div class="card col-lg-2 col-md-6 no-padding no-shadow">
          <div class="card-body bg-flat-color-1">
            <div class="h1 text-light text-right mb-4">
              <i class="fa fa-comments-o"></i>
            </div>
            <div class="h4 mb-0 text-light">
              <span class="count">972</span>
            </div>
            <small class="text-light text-uppercase font-weight-bold">COMMENTS</small>
            <div class="progress progress-xs mt-3 mb-0 bg-light" style="width: 40%; height: 5px;"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
