
.bootcards-summary-item {
  background-color: #f5f5f5;
  display: block;
  border-radius: 4px;
  padding: 25px 10px;
  text-align: center;
  position: relative;
  height: 130px;
  margin-bottom:30px;
}
.panel.panel-default.bootcards-summary{
  margin-top:15px;
}
